@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.Landing_page {
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/img/Fondo\ F1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner-title {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 50px;
}

.img_title {
    width: 500PX;
    height: 150PX;
    margin-bottom: 5px;
}

.descriptionPage{
    color: white;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-align: start;
    margin-bottom: 10px;
}

.button-landing-page {
    width: 65%;
    height: 30px;
    background-color: #8c0107;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    cursor: pointer;
}


