@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.Landing_page {
    width: 100%;
    height: 100vh;
    background-image: url('../../../public/img/Fondo\ F1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.conteiner-title {
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    margin-left: 60px;

}

.img_title {
    width: 600PX;
    height: 190PX;
    margin-bottom: 5px;
}

.descriptionPage{
    color: white;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: start;
    margin-bottom: 10px;
}

.button-landing-page {
    width: 60%;
    height: 45px;
    background-color: #8b0202;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    cursor: pointer;
}


